<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>

  </head>
  <body>
    <h1> Login</h1>
    <form method = "POST" action=""> 
        {{form.hidden_tag()}}
        {{form.username}}
        {{form.submit}}
    </form>
    <a href="{{url_for('register')}}">Don't have an account? Sign up</a>
  </body>
</html>