<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mood</title>

  </head>
  <body>
    <h2> Streak: {{ streak }}</h2>
    <form method = "POST" action=""> 
        {{form.hidden_tag()}}
        {{form.mood}}
        {{form.submit}}
    </form>
    {% for mood in moods %}
    {{mood.mood }} {{mood.date}} <br> 
    {% endfor %}
    <a href="{{url_for('logout')}}">Logout</a>
  </body>

</html>